@{
  Layout = "Shared/_Layout.cshtml";
}

<div class = "container">
  <h1>The Game of Rock Paper Scissors</h1>

  <form action="/result" method="post">
    <p>
      What is your answer?
    </p>
    <label for="player1">PLAYER ONE</label>
    <input type="password" name="player1">

    <label for="player1">PLAYER TWO</label>
    <input type="password" name="player2">

    <button type="submit">Submit</button>
  </form>
</div>
